DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=github_list
DB_USERNAME=root
DB_PASSWORD=

MAIL_MAILER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=7efc47254acd29
MAIL_PASSWORD=7f97d6e2b8a96e
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=noreply@noreply.my
MAIL_FROM_NAME="Github List"